
<%- include('./partials/header') %>
    <div class="grid grid-cols-3 gap-4">
        <%filtered.forEach(product=>{%>

            <div class="product-card" class="bg-white p-4 rounded-lg " data-category="<%= product.category %>">
                <img alt="Beef Burger" class="rounded-lg mb-4  h-[60%] w-full" height="100"
                    src="data:image/jpeg;base64,<%= product.image ?product.image.toString('base64') : '' %>"
                    width="150" />
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="font-bold">
                            <%=product.name%>
                        </h3>
                        <p class="text-yellow-500">
                            ★★★★★
                        </p>
                        <p>
                            $<%=product.price%>
                        </p>
                    </div>
                    <button onclick="addToCart('<%=product._id%>')"
                        class="bg-purple-500 text-white py-2 px-4 rounded-lg">
                        +
                    </button>
                </div>
            </div>

            <% })%>

    </div>
    <%- include("./partials/header")%>